name: Tests

on:
  pull_request:

  push:
    branches: [ main ]

  # Allow job to be triggered manually.
  workflow_dispatch:

# Cancel in-progress jobs when pushing to the same branch.
concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:

  tests:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [
          "ubuntu-22.04",
          "ubuntu-22.04-arm",
          "ubuntu-24.04",
          "ubuntu-24.04-arm",
        ]
        python-version: [
          "3.8",
          "3.9",
          "3.10",
          "3.11",
          "3.12",
          "3.13",
          "3.14",
        ]
        influxdb-version: [ "2.6", "2.7" ]
      fail-fast: false

    # https://docs.github.com/en/actions/using-containerized-services/about-service-containers
    services:

      influxdb:
        image: influxdb:${{ matrix.influxdb-version }}
        ports:
          - 8083:8083
          - 8086:8086
        env:
          DOCKER_INFLUXDB_INIT_MODE: setup
          DOCKER_INFLUXDB_INIT_USERNAME: admin
          DOCKER_INFLUXDB_INIT_PASSWORD: secret1234
          DOCKER_INFLUXDB_INIT_ORG: example
          DOCKER_INFLUXDB_INIT_BUCKET: default
          DOCKER_INFLUXDB_INIT_ADMIN_TOKEN: token

      cratedb:
        image: crate/crate:nightly
        ports:
          - 4200:4200
        env:
          CRATE_HEAP_SIZE: 4g

      postgresql:
        image: postgres:16
        ports:
          - 5432:5432
        env:
          POSTGRES_HOST_AUTH_METHOD: trust

    env:
      OS: ${{ matrix.os }}
      PYTHON: ${{ matrix.python-version }}
      UV_SYSTEM_PYTHON: true

    name: "
    Py ${{ matrix.python-version }},
    OS ${{ matrix.os }},
    InfluxDB ${{ matrix.influxdb-version }}
    "
    steps:

    - name: Acquire sources
      uses: actions/checkout@v5

    # Install InfluxDB CLI tools.
    - name: Set up InfluxDB CLI
      uses: influxdata/influxdb-action@v3
      with:
        influxdb_version: 2.6.1
        influxdb_start: false

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}

    - name: Set up uv
      uses: astral-sh/setup-uv@v7
      with:
        cache-dependency-glob: |
          pyproject.toml
        cache-suffix: ${{ matrix.python-version }}
        enable-cache: true
        version: "latest"

    - name: Set up project
      run: |
        uv pip install --upgrade --editable='.[test,develop]'

    - name: Run linter and software tests
      run: |
        uv run poe check

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v5
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      with:
        files: ./coverage.xml
        flags: unittests
        env_vars: OS,PYTHON
        name: codecov-umbrella
        fail_ci_if_error: true
